<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renad.exchangeit">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="444"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".search_item_product" />
        <activity
            android:name=".First_page"
            android:exported="true">

        </activity>
        <activity android:name=".registerPage" />
        <activity android:name=".MainActivity_profilePage" />
        <activity
            android:name=".Seartch_Page"
            android:parentActivityName=".search_products_class" />
        <activity android:name=".forgetPasseord" />
        <activity android:name=".sitting" />
        <activity android:name=".forgot_password" />
        <activity android:name=".addProduct" />
        <activity android:name=".loginPage" />
        <activity android:name=".resetPass" />
        <activity
            android:name=".search_products_class"
            android:parentActivityName=".Seartch_Page" />
        <activity android:name=".itemProduct" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".requst_page_displayProducts" />
        <activity
            android:name=".compleate_requests"
            android:parentActivityName=".requst_page_displayProducts" />
    </application>

</manifest>